

@media print, screen{
	

	.titleholder,.jumbotron,.container .jumbotron {
	    margin-bottom:0;
	    padding:0px;
	    margin:0px;
	    background-color:white;
	}
	#titleimg{
	  margin: 0 auto;
	  position:relative;
	}


	.infobox>ul{
	  list-style: none;
	  padding:1em;
	}
	.infobox{
	  clear: right;
	  margin-bottom:1em;
	}

	#titleimg {
	  width:300px;
	  height:110px;
	  background-image: url("../imgs/weddingtime300px.png") !important;
	  background-repeat: no-repeat !important;
	}
	#map_canvas {
	  height:300px;
	}
	.infobox{
	  width:300px;
	}

	address{
	  font-size:15pt;
	}

	dd{
	  margin-bottom: 1em;
	}
	.pagebreak {
		page-break-after:always
	}
	.container{
		width: 980px !important;
	}
}
