{% extends "base.html" %}
{% block title %}The Dinner{% endblock %}
{% block content %}
{% include 'tldr.html' %}
<h1>Dinner Plans</h1>
<p>Our plan is to construct a buffet cooked by our wedding guests. We've come up with a provisional "menu" (listed below), to cover the dishes we'd like to offer. If you'd like to cook one (or more!) of the dishes listed, please get in touch with one of us. We'll do our best to coordinate all of you, to try and minimise any doubling-up. If you'd like to cook something, but are a bit daunted by the dishes in the list, please still get in touch. Any culinary contributions will be greatly appreciated, and we would never complain about there being too much food!</p>
<p>
Simply let us know that you want to to lend a hand by ticking the box on your <a href="{{url_for('rsvp')}}">RSVP web form</a>, or <a href="mailto:emmasinaweddingtime@gmail.com">emailing</a>... and we'll get in touch.</p>

<h2>The Menu</h2>
{% include 'menu.html' %}
{% endblock %}
