{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% include 'tldr.html' %}

{% include 'planbody.html' %}

<h3>Other Details</h3>
<dl>
  <dt>Great! But when are you guys actually getting married?</dt>
  <dd>Ahha! The detail minded sort. Excellent. We'll be getting "actually married" in the heart of her majesty the weekend before in a micro ceremony in glorious Wimbourne. When you arrive for this weekend of fun times we will be properly married. I know. Awesome.</dd>
  <dt>When you say formal you mean... what exactly?</dt>
  <dd>Suits would be nice, but don't feel forced. Ladies should wear equally fancy things. Make an effort, but be comfortable.</dd>
  <dt>What about gifts?!</dt>
  <dd>Aww! Don't worry about gifts, we have everything we need at the moment, we'd just like you to turn up. However, if you want to give a gift, we'd be grateful for a small cash donation towards our new future/house/shark tank.</dd>
  <dt>What's with the midlands location?</dt>
  <dd>Big hostels are apparently rather rare! This one was the closest big hostel that wasn't in the lake district.</dd>
  <dt>I don't understand ANY OF THIS! I have more questions than I have fingers. Who can I contact?</dt>
  <dd>Alright calm down! wow... You can email us (emmasinaweddingtime@gmail.com) and we'll sort everything out.</dd>
</dl>



{% endblock %}
