<h1>So the plan is...</h1>

<p>We're getting married! We'd like you to join us for a party to celebrate.</p>

<p>We have booked a large <a href="{{url_for('place')}}">Youth Hostel in Coalbrookdale</a> from the evening of the 23rd May to the afternoon of the 26th May and will make sure someone is always on site to provide greetings and directions to the kettle! The basic idea is a party on the Saturday afternoon/evening with sitting around/exploring the local area for the other days.</p>

<h3>The schedule</h3>
<p>
	The Friday 23rd: folks arriving. Free evening, sort yourselves out for food etc.</p>
<p>
	On Saturday 24th we're having a formal shindig 
	beginning at 3pm, ending late. 
	<div class="panel panel-info infobox">
	<div class="panel-heading">Saturday Party Breakdown</div>
	<ul class="list-unstyled">
		<li>3pm - greeting</li>
		<li>4pm - short ceremony</li>
		<li>6pm - buffet dinner</li>
		<li>8pm - band</li>
	</ul>
</div>
<p> 
	The Sunday 25th is another free day, folks are welcome to hang around for another day. We have the hostel until the Monday at 2pm so no rush to leave.
</p>

<h3>Accommodation</h3>

<p>If you're coming just for the Saturday make sure you leave plenty of time for travel, it is a bank holiday and the roads will be busy!</p>

<p>If you're staying for the weekend we have 44 beds available for guests in the youth hostel for £10 a night. These are bunk beds arranged in rooms of 2-8 people. If there is a lot of interest in these we will give priority to those who are staying for the whole weekend and those of limited finances! If you interested in staying in the hostel, please let us know in your RSVP or by emailing. If we run out of beds at the hostel there are plenty of hotels and BnBs near by.</p>